/* Universal Selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Styling with Body element selector with background color */
body {
    background-color: #d9dcd6;
}

/* Header styling with padding, font name, font color and background color*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styling for h1 element in header tag */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Styling for seo class in h1 element in header tag */
.header h1 .seo {
    color: #d9dcd6;
}

/* Styling for div element in header tag  with padding, margin, font*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Styling for ul element in div element in header tag */
.header div ul {
    list-style-type: none;
}

/* Styling for li element of ul in div element in header tag */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Styling for anchor tag */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Styling for paragraph tag */
p {
    font-size: 16px;
}

/* Styling for hero class with background image, size and position */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Styling for float-left class */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Styling for float-right class */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Styling for content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styling for div element of content class with padding, font and background*/
.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Styling for img element in div element of content class with height constrain */
.content div img {
    max-height: 200px;
}

/* Styling for h2 element in div element of content class */
.content div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styling for benefits class with font, width, height and background color*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Styling for div element in benefits class */
.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Styling for h3 element in div element in benefits class */
.benefits div h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styling for img element inside div in benefits class with block display and width constrain */
.benefits div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styling for footer with padding font and alignment */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Styling for h2 in footer */
.footer h2 {
    font-size: 20px;
}
